.header {
    position: fixed;
    z-index: 500;
    background-color: var(--white-color);
    width: 100%;
    height: 100px;
    top: 0;
    text-align: center;
}
.header__container {
    padding-top: 34px;
}
.header__body {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: auto;
}
.header__nav {
    margin-right: 64px;
}
.header__list {
    display: flex;
    gap: 40px;
}
.header__link {
    position: relative;
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px; /* Высота линии */
            background-color: var(--broun-color); /* Цвет подчеркивания при исчезании линии*/
            transition: width 0.5s; /* Время эффекта */
            }
            &:hover::after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px; /* Высота линии */
            background-color: var(--broun-color); /* Цвет подчеркивания при появлении линии*/
            transition: width 0.5s;  /* Время эффекта */
            }
}
.header__button {
    padding: 7px 20px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px 0px;
    background: var(--broun-color);
    border: 1px solid var(--broun-color);
    font-style: normal;
    line-height: normal;
    background-image: linear-gradient(#fff, #fff);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}
.header__logo-icon {
    display: none;
    width: 28px;
    height: 28px;
}
@media screen and (max-width: 1199.98px) {
    .header__list {
        gap: 20px;
    }
    .header__nav {
        margin-right: 40px;
    }
}
@media screen and (max-width: 991.98px) {
    .header__container {
        padding-top: 20px;
    }
    .header__nav {
       display: none;
    }
    .header__logo-icon {
        display: block;
        margin-left: 40px;
    }
}
@media screen and (min-width: 991.98px) {
    .header__link {
        transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            color: var(--broun-color);
        }
    }
    .header__button {
        &:hover {
            background-size: 100% 100%;
            color: var(--broun-color);
        }
    }
}
@media screen and (max-width: 767.98px) {
    .header__button {
        display: none;
    }
}
@media screen and (max-width: 479.98px) {
    .header__button {
        display: none;
    }
}